body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  font-family: "Open Sans";
}
#loginform {
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 90%;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 25px;
}
#headerTitle {
  text-align: center;
  font-family: "Open Sans";
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}
